  #img {
    height: 400px;
    width: 300px;
  }
   .jumbotron {
    height: 150px;
    width: 100%;
  }
   .fakeimg {
    height: 400px;
    width: 400px;
   background-color: greenyellow;
  }
   /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  } 